@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-zalando: "Zalando Sans Expanded", sans-serif;
}

@font-face {
  font-family: 'Zalando Sans Expanded';
  src: url('/fonts/ZalandoSansExpanded-Bold.ttf') format('woff2'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

